* {
  padding: 5px;
  margin-top: 8px;
  background-color: #e9d4d7;
}
.title {
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
}
.main {
  height: 100vh;
}
.form {
  padding: 5px;
  margin-top: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.write-num {
  width: 190px;
  background-color: #ecebeb;
  border-radius: 5px;
  border: 1px solid #ecebeb;
}
.btn {
  width: 70px;
  border-radius: 6px;
  background-color: #00ad9f;
  color: white;
  border: 1px solid #00ad9f;
  outline: none;
}
.set {
  font-size: 16px;
  width: 270px;
  font-weight: 200;
  background-color: #ecebeb;
  border-radius: 5px;
  border: 1px solid #ecebeb;
}
.newGame {
  width: 90px;
  border-radius: 6px;
  background-color: #00ad9f;
  color: white;
  border: 1px solid #00ad9f;
  outline: none;
  text-align: center;
  margin-top: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00ad9f;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.footer__line,
.footer__container,
.footer__icons {
  padding: 0;
  margin: 0;
}
